<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <source src="{{ url_for('static', filename='musica.mp3') }}" type="audio/mp3">
</audio>
</head>
<body>
<div class="container">
<h2>Escolha nossa saída 💕</h2>
<button>🍽️ Jantar</button>
<button>🎬 Cinema</button>
<button>🌅 Passeio</button>
<button>🏠 Noite juntos</button>
<br>
<a href="{{ url_for('pagina5') }}"><button>Continuar</button></a>
</div>
</body>
</html>