<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">

<h2>Quem você é pra mim</h2>

<p style="font-size:22px; line-height:40px;">
💖 Minha paz nos dias difíceis<br>
🌟 A razão dos meus sorrisos bobos<br>
🫶 Minha pessoa favorita no mundo<br>
🌹 O melhor presente que a vida me deu<br>
✨ Meu pensamento feliz de todos os dias
</p>

<a href="{{ url_for('pagina4') }}"><button>Continuar</button></a>
</div>
</body>
</html>